* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    max-width: 1140px;
    min-width: 360px;
    margin: 0 auto;
    font-family: 'Work Sans';
    font-size: 14px;
}


/* ----------------------MODE EDITION-ON<--------------------------- */
.edition-mode {
    width: 100%;
    height: 50px;
    background: #000000;
    position: sticky;
    z-index: 5;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b9b9b9;
}

.edition-mode p {
    display: flex;
    margin: 0 7px;
}

.edition-mode p .edit-icon {
    width: 15px;
    margin-right: 5px;
}

.edition-mode button {
    background: #f1f1f1;
    color: #000000;
    border-radius: 20px;
    padding: 10px 15px;
    margin: 0 7px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s all;
}

.edition-mode button:hover {
    background: #ffffff;
    transition: 0.3s all;
}



/* ----------------------MODE EDITION-OFF>--------------------------- */


/* ----------------------HEADER-ON<--------------------------- */
header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 120px;
    padding: 0 2rem;
}

header .logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 0;
}

header .logo h1 a {
    display: flex;
    flex-direction: column;
    font-family: 'Syne';
    font-size: 2.5vw;
    font-weight: 800;
    color: #B1663C
}

header .logo h1 span {
    font-family: 'Work Sans';
    font-size: 1vw;
    letter-spacing: 0.1em;
    color: #814a2a;
}

header .logo .bubble-nav {
    font-size: 16px;
    background: #B1663C;
    color: #ffffff;
    padding: 9px 11px;
    border-radius: 50%;
    border: #ffffff solid 1px;
    cursor: pointer;
    display: none;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header nav ul li {
    margin: 0 20px;
    cursor: pointer;
}

header nav ul li a {
    text-decoration: none;
    color: #000000;
    transition: 0.3s all;
}

header nav ul li a:hover {
    color: #B1663C;
    transition: 0.3s all;
}


header nav ul li i {
    font-size: 25px;
}


header nav ul li i:hover {
    color: #B1663C;
    transition: 0.3s all;
}



/* >==================== HEADER OFF ====================> */


/* <==================== MAIN ON ====================< */
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.login h2 {
    font-family: 'Syne';
    font-size: 4.5vw;
    color: #1D6154;
    padding-bottom: 20px;
}

.login .error-connect {
    color: #ff1e00;
    font-weight: bold;
    padding: 40px 0 30px;
}


.login form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.login form label {
    margin: 2em 0 7px 0;
    font-weight: bold;
    align-self: flex-start;
}

#contact input {
    height: 45px;
    font-size: 1.2em;
    padding: 0 10px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    outline-color: #8EAFA6;
}

.login form input {
    height: 45px;
    width: 100%;
    font-size: 1.2em;
    border-radius: 3px;
    padding: 0 10px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    outline-color: #e5a580;
}

.login form .password-zone {
    position: relative;
    width: 100%;
}

.login form .password-zone .eyes {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 7%;
    transform: translate(-50%, -50%);
    color: #1D6154;
}

.login form .password-zone .eye-open {
    right: 7.3%;
}

.login form .password-zone .hidden {
    display: none;
}

.login form button {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 40px 0 25px;
    padding: 20px;
    width: 180px;
    text-align: center;
    border-radius: 60px;
    cursor: pointer;
}

.login form a {
    color: #000000;
    transition: 0.3s all;
}

.login .login form a:hover {
    text-decoration: none;
    transition: 0.3s all;
}


/* >==================== MAIN OFF ====================> */


/* <==================== FOOTER ON ====================< */
footer {
    padding: 0 2rem 5px;
}

footer nav {
    margin: 80px 0 0;
    text-align: end;
}

footer nav a {
    text-decoration: none;
    color: #000000;
    font-weight: lighter;
}

footer nav a:hover {
    color: #B1663C;
}


/* >==================== FOOTER OF ====================> */

/* Class pour JS */

.input-success {
    outline-color: green;
}

.input-error {
    outline-color: red;
}


/* <==================== RESPONSIVE ON ====================< */

@media screen and (max-width: 991px) {

    header .logo h1 span {
        font-size: 1.5vw;
    }

    .login form {
        width: 70%;
    }
}

@media screen and (max-width: 605px) {

    header {
        margin-bottom: 30px;
        align-items: baseline;
        flex-direction: column;
        margin-top: 0;
        padding-top: 30px;
    }

    .background-responsive {
        background: #B1663C;
    }

    header .logo {
        position: relative;
        z-index: 1;
    }

    header .logo h1 a {
        font-size: 4.5vw;

    }

    header .logo .bubble-nav {
        display: block;
    }

    header .header-nav {
        width: 100%;
        padding-top: 50px;
        text-align: center;
        display: none;
    }

    header .header-nav ul {
        flex-direction: column;
        width: 100%;
        height: calc(90vh - 65px);
        justify-content: space-around;

    }

    header .header-nav ul li a {
        font-size: 20px;
        color: #ffffff;
    }

    header .header-nav ul li a:hover,
    header .header-nav ul li i:hover {
        color: #1D6154;
    }

    header.background-responsive h1 a,
    header.background-responsive h1 span,
    header.background-responsive .header-nav li a,
    header.background-responsive .header-nav li i {
        color: #ffffff;
    }

    header.background-responsive .header-nav {
        display: flex;
    }

    main .login h2 {
        font-size: 25px;
        padding: 40px 0 0;
    }


    .login p {
        font-size: 12px;
    }

    .login input,
    .login textarea {
        font-size: 12px;
    }
}