/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
 
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
 
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
 
body {
    line-height: 1;
}
 
ol,
ul {
    list-style: none;
}
 
blockquote,
q {
    quotes: none;
}
 
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
 
table {
    border-collapse: collapse;
    border-spacing: 0;
}
 
/** end reset css**/
 
body {
    max-width: 1140px;
    margin: auto;
    font-family: 'Work Sans';
    font-size: 14px;
    padding: 0 2rem 2rem;
}
 
header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 120px;
}
 
header h1 {
    display: flex;
    flex-direction: column;
    font-family: 'Syne';
    font-size: 22px;
    font-weight: 800;
    color: #B1663C
}
 
header h1 span {
    font-family: 'Work Sans';
    font-size: 10px;
    letter-spacing: 0.1em;
}
 
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}
 
header nav ul li {
    margin: 0 20px;
}
 
header nav ul li a {
    text-decoration: none;
    color: #000000;
}
 
header nav ul li a:hover {
    color: #B1663C;
}
 
header nav ul li a img {
    width: 20px;
}
 
header nav .bubbleNav {
    font-size: 16px;
    background: #B1663C;
    color: #ffffff;
    padding: 7px 8px 6px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}
 
 
#introduction {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 50px 0
}
 
#introduction figure {
    margin: 0 30px;
}
 
#introduction figure img {
    height: 355px;
}
 
#introduction article {
    width: 404px;
    margin: 0 30px;
}
 
#introduction article h2 {
    margin-bottom: 1em;
    font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
    color: #1D6154
}
 
#introduction article p {
    margin: 0 0 20px;
}
 
 
 
#portfolio{
    margin: 100px 0;
}
 
#portfolio h2 {
    text-align: center;
    margin-bottom: 45px;
    font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
    color: #1D6154
}
 
#portfolio .filters {
    display: flex;
    justify-content: center;
    margin: 0 0 35px;
}
 
#portfolio .filters li{
    border: 1px solid #1D6154;
    color: #1D6154;
    font-family: "Syne";
    cursor: pointer;
    border-radius: 60px;
    padding: 7px 15px;
    margin: 5px;
    transition: 0.3s all;
}
 
#portfolio .filters li:hover{
    background: #339b88;
    color: #ffffff;
    transition: 0.3s all;
}
 
#portfolio .filters li:active{
    background: #1D6154;
}
 
#portfolio .filters .active{
    background: #1D6154;
    color: #ffffff;
}
 
#portfolio .filters .active:hover{
    background: #1D6154;
    color: #ffffff;
}
 
 
#portfolio .gallery{
    display: flex;
    justify-content: center;
}
 
#portfolio .gallery .galleryGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 80%;
}
 
#portfolio .gallery .galleryGrid figure {
    width: 100%;
	transition:0.3s;
	cursor: pointer;
}

#portfolio .gallery .galleryGrid figure:hover {
    width: 100%;
	transform: scale(1.02);
	transition:0.3s;
}
 
#portfolio .gallery .galleryGrid figure img {
    width: 100%;
}
 
#portfolio .gallery .galleryGrid figure figcaption {
    padding: 7px 0 0;
}
 
 
 
#contact {
    width: 50%;
    margin: auto;
}
 
#contact h2 {
    text-align: center;
    margin-bottom: 12px;
    font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
    color: #1D6154
}
 
#contact p {
    text-align: center;
}
 
#contact form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
 
#contact label {
    margin: 2em 0 1em 0;
    font-weight: bold;
}
 
#contact input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    padding: 0 10px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
 
#contact textarea {
    resize: none;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
 
#contact .submit {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 2em auto;
    width: 180px;
    text-align: center;
    border-radius: 60px;
    cursor: pointer;
}
 
footer nav {
    margin: 50px 0 0;
    text-align: end;
}
 
footer nav a{
    text-decoration: none;
    color: #000000;
    font-weight: lighter;
}
 
footer nav a:hover{
    color: #B1663C;
}

